<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="logDir" value="${basedir}/Logs"/>
  <variable name="internalLogFileName" value="${logDir}/internal-nlog-${shortdate}.txt"/>

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>

  <targets>
    <!-- Seq target -->
    <target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
      <target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
        <property name="ThreadId" value="${threadid}" as="number" />
        <property name="MachineName" value="${machinename}" />
      </target>
    </target>

    <!-- General application log -->
    <target xsi:type="File"
            name="allfile"
            fileName="${logDir}/nlog-AspNetCore-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${logDir}/archives/nlog-AspNetCore-all-{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="7"/>

    <!-- Web-specific log -->
    <target xsi:type="File"
            name="ownFile-web"
            fileName="${logDir}/nlog-AspNetCore-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            archiveFileName="${logDir}/archives/nlog-AspNetCore-own-{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="7"/>

    <!-- Specialized logs -->
    <target xsi:type="File"
            name="RequestsLog"
            fileName="${logDir}/requests-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|method: ${aspnet-request-method}"
            archiveFileName="${logDir}/archives/requests-{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="7"/>

    <target xsi:type="File"
            name="ErrorsLog"
            fileName="${logDir}/errors-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveFileName="${logDir}/archives/errors-{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="7"/>

    <target xsi:type="File"
            name="UnhandledErrorsLog"
            fileName="${logDir}/unhandled-errors-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}"
            archiveFileName="${logDir}/archives/unhandled-errors-{#}.log"
            archiveEvery="Day"
            maxArchiveFiles="7"/>

    <target xsi:type="Console"
            name="lifetimeConsole"
            layout="${MicrosoftConsoleLayout}"/>
  </targets>

  <rules>
    <!-- Microsoft hosting lifetime messages -->
    <logger name="Microsoft.Hosting.Lifetime"
            minlevel="Info"
            writeTo="lifetimeConsole, ownFile-web"
            final="true"/>

    <!-- Skip most Microsoft logs -->
    <logger name="Microsoft.*"
            maxlevel="Info"
            final="true"/>

    <logger name="System.Net.Http.*"
            maxlevel="Info"
            final="true"/>

    <!-- Specialized loggers -->
    <logger name="Infrastructure.Logging.RequestLoggingMiddleware"
            minlevel="Trace"
            writeTo="RequestsLog,lifetimeConsole"/>

    <logger name="Infrastructure.Exceptions.ExceptionHandlingMiddleware"
            minlevel="Trace"
            writeTo="UnhandledErrorsLog,ErrorsLog,lifetimeConsole"/>

    <!-- General application logging -->
    <logger name="*"
            minlevel="Trace"
            writeTo="allfile"/>

    <!-- Web-specific logging -->
    <logger name="*"
            minlevel="Trace"
            writeTo="ownFile-web"/>

    <!-- Send Info and above to Seq -->
    <logger name="*"
            minlevel="Info"
            writeTo="seq"/>
  </rules>
</nlog>