/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}